$body-font-family: 'Ubuntu', sans-serif;
$mono-font-family: 'Ubuntu', sans-serif;

$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: #ffffff;
$body-heading-color: #ffffff;
$nav-child-link-color: #ffffff;
$search-result-preview-color: #ffffff;

$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
$link-color: #a1c9ff;
